.expense-table {
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 rgba(192, 145, 145, 1);
}
.formFilterExpenses{
  margin-bottom: 20px;
}
.divCategoriesPieChart{
  margin-top: 1%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 rgba(192, 145, 145, 1);
}


h2{
  margin-left: 4%;
  margin-top: 2%;
}
