<o-form service="expenses" entity="expense" keys="EX_ID" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input attr="EXPENSES_FORM" sql-type="INTEGER" enabled="no"></o-text-input>
  <o-row>
    <o-column title-label="EXPENSES_FORM" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="EX_CONCEPT" label="CONCEPT" fxFlex="40" required="yes"></o-text-input>
        <o-currency-input class="input-padding" attr="EX_AMOUNT" label="AMOUNT" fxFlex="40"
          required="yes"></o-currency-input>
        <o-date-input attr="EX_DATE" label="DATE" fxFlex="20"></o-date-input>
        <o-integer-input attr="CA_EX_ID" label="CATEGORIES" fxFlex="20"></o-integer-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>