.expenses-details-table {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 var(--var-expense-color);
    background-color: white;
    max-width: 50%;
  }

.expenses-details-table o-form-navigation {
    color: rgba(192, 145, 145) ;
}