<div fxFlex>
  <div> 
    <div fxFlex fxLayout="row" >
      <p>{{MONTHLY_BALANCE | oTranslate}}</p>
      <p>{{balance}}</p>
    </div>
  </div>
  <div fxLayout="row" layout-padding fxLayoutAlign="start center">
    <o-button (click)="buttonExpenses()" attr="stroked4" type="STROKED" label="ADD_EXPENSES" layout-padding></o-button>
  </div>
  <div>
    <o-button (click)="buttonIncomes()" attr="stroked4" type="STROKED" label="ADD_INCOMES" layout-padding></o-button>
  </div>
  <div fxFill fxLayout="row"  fxLayoutAlign="space-around start" layout-padding>
    <app-expenses-chart></app-expenses-chart>
    <app-incomes-chart></app-incomes-chart>
  </div>
</div>

 






