:root {
  --var-primary-color: #91c09e;

  --var-accent-color: #f75e50;
}

.cont-balance {
  max-width: 20%;

  min-width: fit-content;

  flex-wrap: nowrap;
}

.body-container {
  padding: 10px;
}

.box-balance {
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;
  box-shadow: 2px 2px 5px 0 rgba(145, 192, 158, 1);
  border-radius: 10px;
}

.box-balance p {
  margin: 10px;
}

.btn-incomes {
  background-color: rgba(145, 192, 158, 0.2);

  border: 1px solid rgba(145, 192, 158, 0.2);

  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);

  border-radius: 10px;
}

.btn-expenses {
  background-color: rgba(247, 94, 80, 0.2);

  border: 1px solid rgba(247, 94, 80, 0.2);

  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);

  border-radius: 10px;
}
