<div fxFlex fxLayout="column" fxLayoutAlign="stretch " class="container-margin">
  <div>
    <h2>{{'INCOME_LIST' | oTranslate }}</h2>
  </div>



  <o-form-layout-manager mode="dialog">
    <o-form-layout-dialog-options width="fit-content" height="580px"></o-form-layout-dialog-options>
    <div class="income-main-container">
      <div class="table-and-filter-container">
        <div class="form-filter-container">
          <o-form editable-detail="no" show-header="no">
            <div fxLayout="column" fxFlex fxLayoutAlign=" stretch">
              <div class="input-container">
                <o-daterange-input attr="daterange" label="{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}" read-only="no"
                  required="no" show-ranges="true" format="DD/MM/YYYY" touch-ui="yes" mode="desktop" fxFlex="45">
                </o-daterange-input>
                <o-combo attr="CA_ID" label="{{ 'CATEGORIES' | oTranslate }}" fxFlex="45" service="categories"
                  entity="categoriesIncomes" keys="CA_ID" columns="CA_ID;CA_NAME" visible-columns="CA_NAME"
                  value-column="CA_ID" multiple="true" required="no" read-only="no" searchable="true"
                  class="combo-padding"></o-combo>
              </div>

              <div fxLayoutAlign="end">
                <div class="formButtonIncome">
                  <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" type="RAISED"
                    label="{{ 'FILTER' | oTranslate }}" class="filter-button" class="button">
                  </o-button>
                  <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="RAISED"
                    label="{{ 'CLEAR' | oTranslate }}" (click)="clearFilters()" class="filter-button" class="button">
                  </o-button>
                </div>

              </div>
              <div>
                <o-filter-builder #filterBuilder attr="thefilter" filters="date_range:daterange;CA_ID:CA_ID"
                  [target]="incomeTable" query-on-change="no" query-on-change-delay="300"
                  [expression-builder]="createFilter"></o-filter-builder>
              </div>

            </div>
          </o-form>
        </div>
        <div>
          <o-table class="income-table" #incomeTable attr="incomeTable" service="movements"
            entity="incomesForCategories" keys="MOV_ID"
            columns="MOV_ID;MOV_CONCEPT;MOV_AMOUNT;MOV_DATE;CA_ID;USER_;CA_ID;CA_NAME;GR_ID;GR_NAME"
            visible-columns="CA_NAME;MOV_CONCEPT;MOV_AMOUNT;MOV_DATE;GR_NAME" virtual-scroll="no" delete-button="no">
            <o-table-column attr="CA_NAME" title="CATEGORY" content-align="center"></o-table-column>
            <o-table-column attr="MOV_CONCEPT" title="CONCEPT" content-align="center"></o-table-column>
            <o-table-column attr="MOV_AMOUNT" title="AMOUNT" type="currency" currency-symbol="€"
              currency-symbol-position="right" content-align="center"></o-table-column>
            <o-table-column attr="MOV_DATE" title="DATE" type="date" format="L"></o-table-column>
            <o-table-column attr="GR_NAME" title="GR_GROUP" content-align="center"></o-table-column>
          </o-table>
        </div>

      </div>
      <div>
        <app-incomes-chart></app-incomes-chart>
      </div>
    </div>
  </o-form-layout-manager>
</div>