<div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table attr="incomeTable" service="incomes" entity="income" keys="IN_ID"
        columns="IN_ID;IN_CONCEPT;IN_AMOUNT;IN_DATE" visible-columns="IN_CONCEPT;IN_AMOUNT;IN_DATE" query-rows="20">
        <o-table-column attr="IN_CONCEPT" title="CONCEPT" content-align="center"></o-table-column>
        <o-table-column attr="IN_AMOUNT" title="AMOUNT" type="currency" currency-symbol="€"
            content-align="center"></o-table-column>
        <o-table-column attr="IN_DATE" title="DATE" type="date" format="L"></o-table-column>
    </o-table>
</div>