.full-page {
  position: relative;
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-title {
  position: absolute;
  top: 10px;
  left: 10px;
}
.container-main-form {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  background-color: rgba(145, 192, 158, 0.5);
  box-shadow: 2px 2px 5px 0 rgba(145, 192, 158, 1);
}
.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-eye {
  position: absolute;
  right: 164px;
  top: 78px;
  bottom: 0;
  transition: transform 0.3s ease;
}
.left-eye {
  position: absolute;
  right: 106px;
  top: 89px;
  bottom: 0;
  transition: transform 0.3s ease;
}
.input-container {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.container-main-form .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgb(63, 130, 133);
}
.container-main-form .mat-input-element {
  caret-color: rgb(63, 130, 133) !important;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(63, 130, 133);
  font-size: 18px;
  font-weight: bold;
}

mat-icon.login-input {
  cursor: pointer;
}
.remeber_me {
  font-size: 12px;
  text-align: end;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(63, 130, 133);
}
button.submit-btn {
  color: white;
  font-size: 1.1rem;
  background-color: rgb(63, 130, 133);
  height: 48px;
  margin-top: 20px;
  border-radius: 10px;
}
button.submit-btn:hover {
  background-color: rgb(63, 130, 133, 0.8);
  box-shadow: 2px 2px 5px 0 rgba(63, 130, 133, 2);
}
.term-container {
  display: flex;
  font-size: 12px;
}
.term-container p {
  text-align: center;
  text-decoration: underline;
  margin: 5px;
  cursor: pointer;
  color: #5e636e;
  transition: color 0.3s;
}
.term-container p:hover {
  color: rgb(63, 130, 133);
}

@media (max-width: 790px) {
  .container-main-form {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    box-shadow: none;
  }
  .term-container {
    display: flex;
    flex-direction: column;
  }
}
