/* You can add global styles to this file, and also import other style files */
:root {
  --var-expense-color: rgba(192, 145, 145);
  --var-income-color: rgba(145, 192, 158);
}

.input-padding {
  margin-right: 15px;
}

.box-balance p {
  margin: 10px;
}

.o-button button.mat-stroked-button {
  border: none;
}
.graph-container {
  border-radius: 10px;
}

.expense-table thead {
  background-color: var(--var-expense-color);
}
.income-table thead {
  background-color: var(--var-income-color);
}
o-data-toolbar.o-grid-toolbar button.o-grid-button:first-child,
o-data-toolbar.o-list-toolbar button.o-list-button:first-child,
o-data-toolbar.o-table-toolbar .buttons .o-table-button:first-child,
o-data-toolbar.o-table-toolbar .buttons button:first-child {
  border-radius: 10px;
}
.container-margin {
  padding: 0px 20px 20px 20px;
}
.mat-drawer-opened .o-app-sidenav-image .o-app-sidenav-image-container {
  padding-bottom: 20px;
}
