/* You can add global styles to this file, and also import other style files */

.input-padding {
  margin-right: 15px;
}


.box-balance p {
  margin: 10px;
}

.o-button button.mat-stroked-button {
  border: none;
}