<div fxFlex fxLayout="column" fxLayoutAlign="stretch" class="container-margin">
  <div fxLayout="row" fxLayoutAlign="space-around stretch">
    <div fxLayoutAlign="center center" fxFlex>
      <h2>{{'GOALS_LIST' | oTranslate }}</h2>
    </div>
    <div fxLayoutAlign="center center" fxFlex>
      <h2>{{'TOTAL_EXPENSES_CATEGORIES' | oTranslate }}</h2>
    </div>
  </div>
  <o-form-layout-manager mode="dialog">
    <o-form-layout-dialog-options width="fit-content" height="450px"></o-form-layout-dialog-options>
    <div class="goals-main-container">
      <div class="table-container">
        <div fxFill fxLayout="column" fxLayoutAlign="start">
          <div>
            <o-table #goalTable class="goal-table" attr="goalTable" service="goals" entity="getGoalsCategoryWithName"
              keys="GO_ID" columns="GO_ID;USER_;GO_NAME;CA_ID;GO_AMOUNT;CA_NAME"
              visible-columns="GO_NAME;CA_NAME;GO_AMOUNT" virtual-scroll="no" delete-button="no">
              <o-table-column attr="GO_NAME" title="GOALS_NAMES" content-align="center"></o-table-column>
              <o-table-column attr="CA_NAME" title="CATEGORIES" content-align="center"></o-table-column>
              <o-table-column attr="GO_AMOUNT" title="GOALS" type="currency" currency-symbol="€"
                currency-symbol-position="right" content-align="center"></o-table-column>
            </o-table>
          </div>
        </div>
      </div>
      <o-chart fxFlex type="pie" entity="totalExpensesForCategories" service="movements" x-axis="CA_NAME"
        y-axis="TOTAL_SPENT" [chart-parameters]="chartParameters" class="total_category_chart"></o-chart>
    </div>
  </o-form-layout-manager>
</div>