<o-form fxFill #groupsTable attr="groupMembersTable" service="groups" entity="group" header-actions="R;U;D" keys="GR_ID"
  show-header="true" parent-keys="GR_ID" keys-sql-types="INTEGER">
  <div>
    <o-row>
      <div fxFlex fxLayout="row" fxLayoutAlign="space-around center">
        <o-text-input class="text-detail-group" attr="GR_NAME" label="GR_GROUP_NAME" fxFlex="70" content-align="center"
          read-only="true" required="yes"></o-text-input>
        <o-date-input class="text-detail-group" attr="GR_CREATION_DATE" label="GR_CREATION_DATE" fxFlex="25"
          content-align="center" read-only="true"></o-date-input>
      </div>
    </o-row>
    <o-form-layout-manager mode="dialog">
      <o-form-layout-dialog-options width="fit-content" height="450px"></o-form-layout-dialog-options>
      <o-table class="detail-group group-table" #groupsTable attr="memberGroupsTable" service="groups"
        entity="getGroupMembersWithBalance" keys="GR_ID" columns="USER_;MEMBER_BALANCE"
        visible-columns="USER_;MEMBER_BALANCE" parent-keys="GR_ID" pagination-controls="true" query-rows="20"
        virtual-scroll="no">
        <o-table-column attr="USER_" title="MG_USER" content-align="center"></o-table-column>
        <!--<o-table-column attr="MG_IS_ADMIN" title="ISADMIN" content-align="center"></o-table-column>-->
        <o-table-column attr="MEMBER_BALANCE" title="MEMBER_BALANCE" content-align="center"></o-table-column>
      </o-table>
      <o-table class="detail-group group-table" #groupsTable attr="movementsTable" service="groups"
        entity="getGroupMovements" keys="GR_ID" columns="MOV_ID;MOV_CONCEPT;MOV_AMOUNT;MOV_DATE;CA_ID;USER_;GR_ID"
        visible-columns="MOV_CONCEPT;MOV_AMOUNT;MOV_DATE;USER_" parent-keys="GR_ID" pagination-controls="true"
        query-rows="20" virtual-scroll="no">
        <o-table-column attr="MOV_DATE" title="Date" type="date" format="L"></o-table-column>
        <o-table-column attr="USER_" title="MG_USER" content-align="center"></o-table-column>
        <o-table-column attr="MOV_CONCEPT" title="MOV_CONCEPT" content-align="center"></o-table-column>
        <o-table-column attr="MOV_AMOUNT" title="MOV_AMOUNT" content-align="center"></o-table-column>
      </o-table>
    </o-form-layout-manager>
  </div>
</o-form>